<mat-toolbar class="navbar">
    <!-- <button mat-icon-button class="example-icon" (click)="toggleSideBar()">
        <mat-icon>menu</mat-icon>
    </button> -->

    <div class="head_lefft_wrap">
        <app-logo></app-logo>

        <div class="head_nav">
            <mat-list-item *ngFor="let d of data" class="sidenav-item" (click)="router(d.path)">
                <p>
                    <mat-icon>{{ d.icon }}</mat-icon>
                    <span class="menu-text">{{ d.desc }}</span>
                </p>
            </mat-list-item>
        </div>
    </div>


    

    <div class="mat_btn_grp">
        <form class="searchBox">
            <mat-form-field class="search-field-textbox" appearance="outline" floatLabel="always">
                <input matInput placeholder="Search">
                <mat-icon matPrefix>search</mat-icon>
            </mat-form-field>
        </form>
    <button mat-icon-button aria-label="Example icon-button with a menu">
        <mat-icon aria-hidden="false" aria-label="video_call">video_call</mat-icon>
    </button>
    
    <button mat-icon-button aria-label="Example icon-button with a menu">
        <mat-icon aria-hidden="false" aria-label="view_comfy">view_comfy</mat-icon>
    </button>
    
    <button mat-icon-button aria-label="Example icon-button with a menu">
        <mat-icon aria-hidden="false" aria-label="notifications_none">notifications_none
        </mat-icon>
    </button>

    <!-- <img [matMenuTriggerFor]="menu0" *ngIf="authService.user != null " src="{{authService.user.photoURL}}"
        style="width: 50px; height: 50x; border-radius: 50%;">
    <h5 *ngIf="authService.user != null" style="font-size: medium;"> {{authService.user.displayName}} </h5> -->

    <!-- <div *ngIf="authService.user == null">
        <button mat-button (click)="openDialog()">Login</button>
    </div> -->
    <div class="persona">
        <button mat-icon-button><mat-icon>account_circle</mat-icon></button>
    </div>
    <!-- <mat-menu #menu0="matMenu">
        <button *ngIf="authService.user != null" mat-menu-item>
            <a mat-button (click)="authService.signout()">
                Log out
            </a>
        </button>
    </mat-menu> -->
    </div>
</mat-toolbar>