<div>
    <div class="banner_tbox slider">
        <div *ngFor="let slide of slides" class="slide">
          <img [src]="slide" alt="Slide Image">
        </div>
      </div>
    <div class="t-box-inner">
        <div class="start_tog_wrap">
            <h2>Start togeth૪ing with</h2>
            <ul>
                <li>
                    <a href="javascript:void(0)" class="start_icon" (click)="openDialogImage()">
                        <img src="https://webdevfolio.com/edreamz_projects/youtubeClone/assets/t-box-icon/photo.svg" alt="Icon">
                        <span>Photo</span>
                    </a>
                </li>
                
                <li>
                    <a href="javascript:void(0)" class="start_icon" (click)="openDialogVideo()">
                        <img src="https://webdevfolio.com/edreamz_projects/youtubeClone/assets/t-box-icon/video.svg" alt="Icon">
                        <span>Video</span>
                    </a>
                </li>
                
                <li>
                    <a href="javascript:void(0)" class="start_icon" (click)="openDialogAudio()">
                        <img src="https://webdevfolio.com/edreamz_projects/youtubeClone/assets/t-box-icon/audio.svg
                        " alt="Icon">
                        <span>Audio</span>
                    </a>
                </li>
                
                <li>
                    <a href="javascript:void(0)" class="start_icon" (click)="openDialogDocs()">
                        <img src="https://webdevfolio.com/edreamz_projects/youtubeClone/assets/t-box-icon/doc.svg" alt="Icon">
                        <span>Docs</span>
                    </a>
                </li>
                
                <li>
                    <a href="javascript:void(0)" class="start_icon" (click)="openDialogCamera()">
                        <img src="https://webdevfolio.com/edreamz_projects/youtubeClone/assets/t-box-icon/camera.svg" alt="Icon">
                        <span>Camera</span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="partnersWrap">
            <h2>Partners</h2>
            <ul class="partner_items">
                <li *ngFor="let item of items">
                    <a href="{{ item.pagelink}}" class="partner_item">
                        <img src="{{ item.imgsrc }}" alt="{{ item.imgtitle}}" />
                    </a> 
                </li>
            </ul>
        </div>
        <div class="partnersWrap channelsWrap">
            <h2>Channels</h2>
            <ul class="partner_items channels_items">
                <li *ngFor="let item of channels">
                    <a href="{{ item.pagelink}}" class="partner_item">
                        <img src="{{ item.imgsrc }}" alt="{{ item.imgtitle}}" />
                        <p>{{ item.channelName }}</p>
                    </a> 
                </li>
            </ul>
        </div>
    </div>
</div>